<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Courses</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 850px; margin: 0 auto;">
  <h2 class="title-center" th:text="${course.courseName} + ': students'"></h2>
  <div class="my-3">
    <form th:action="@{/ui/v1/courses/my/{courseId}/students(courseId=${course.id})}" id="searchForm">
      <div class="row d-flex">
        <div class="col-md-6 mt-4">
          <div class="search">
            <i class="fa fa-search"></i>
            <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                   class="form-control" placeholder="Enter student email">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
        <div class="col-md-3 mt-4 unsent-width">
          <button id="btnClear" class="btn btn-secondary">Clear</button>
        </div>
      </div>
    </form>
  </div>
  <div class="my-2">
    <div class="row d-flex">
      <a class="col-md-3 mt-2 unsent-width btn btn-light btn-light-cus"
         th:href="@{/ui/v1/courses/my/{courseId}(courseId=${course.id})}" style="margin-left: 12px;">Back to course</a>
      <a sec:authorize="hasAuthority('COURSES_UPDATE')" class="col-md-3 mt-2 unsent-width btn btn-success ms-auto"
         style="margin-right: 20px;" th:href="@{/ui/v1/students/not-enrolled(cid=${course.id})}">Enroll student</a>
      <a sec:authorize="hasAuthority('COURSES_UPDATE')" class="col-md-3 mt-2 unsent-width btn btn-success"
         style="margin-right: 30px;" th:href="@{/ui/v1/groups/for-enroll(cid=${course.id})}">Enroll all group</a>
    </div>
  </div>
  <div th:if="${courseStudents.size()} > 0">
    <div class="table-container">
      <table class="table table-striped table-hover table-responsive-xl">
        <thead class="table-light">
        <tr>
          <th scope="col">№</th>
          <th scope="col">Student name</th>
          <th scope="col">Email</th>
          <th scope="col">Group</th>
          <th scope="col">Status</th>
          <th sec:authorize="hasAuthority('COURSES_UPDATE')" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, interStat : ${courseStudents}">
          <th scope="row" th:text="${interStat.count}"></th>
          <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
          <td th:text="${student.email}"></td>
          <td th:text="${student.groupName}"></td>
          <td>
            <span th:if="${student.isActive}" class="fa-regular fa-square-check icon-dark" title="Active"></span>
            <span th:unless="${student.isActive}" class="far fa-times-circle icon-dark" title="Not active"></span>
          </td>
          <td sec:authorize="hasAuthority('COURSES_UPDATE')">
            <a sec:authorize="hasAuthority('MARKS_CREATE')" class="btn btn-light btn-light-cus"
               th:href="@{/ui/v1/marks(sid=${student.id}, cid=${course.id}, fullName=${student.firstName + ' ' + student.lastName})}">Marks</a>
            <form sec:authorize="hasAuthority('COURSES_UPDATE')" th:method="delete"
                  onclick="event.preventDefault(); this.submit();" class="btn btn-danger"
                  th:action="@{/ui/v1/courses/my/{courseId}/students/{studentId}/deduct(courseId=${course.id}, studentId=${student.id})}">
              <input type="submit" style="display: none;">
              <span>Deduct</span>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="message info-m" th:unless="${courseStudents.size()} > 0">
    <span th:text="#{students.no.found}"></span>
  </div>
</div>
<div th:insert="~{fragments/error-modal :: errorModal(${validationErrorMessage})}"></div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    function clearAndRedirect(url) {
      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = url;
      });
    }

    const message = /*[[${validationErrorMessage}]]*/ null;

    if (message !== null) {
      const modal = $('#errorModal');
      modal.modal('show');
    }

    const url = /*[[@{/ui/v1/courses/my/{courseId}/students(courseId=${course.id})}]]*/ "";
    clearAndRedirect(url);

    const studentEmails = /*[[${studentEmails}]]*/ [];

    $("#keyword").autocomplete({
      source: studentEmails
    });
  });
</script>
</body>
</html>
