<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Courses</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
  <h2 class="title-center" th:text="${course.courseName}"></h2>
  <div class="row d-flex">
    <div class="col-md-3 mt-3 bold unsent-width">Author:</div>
    <div class="col mt-3 unsent-width pn-lf-unsent"
         th:text="*{course.authorFirstName + ' ' + course.authorLastName}"></div>
  </div>
  <div class="row d-flex">
    <div class="col-md-3 mt-3 bold unsent-width">Description:</div>
    <div class="col mt-3 unsent-width pn-lf-unsent" th:text="${course.courseDescription}"></div>
  </div>
  <hr class="my-1">
  <div class="my-2">
    <div class="row d-flex">
      <a sec:authorize="hasAuthority('STUDENTS_READ')" class="col-md-3 mt-4 unsent-width btn btn-light btn-light-cus"
         th:href="@{/ui/v1/courses/my/{courseId}/students(courseId=${course.id})}"
         style="margin-left: 12px;">Students</a>
      <button sec:authorize="hasAuthority('MARKS_READ') && !hasAuthority('MARKS_CREATE')"
              class="col-md-3 mt-4 unsent-width btn btn-light btn-light-cus"
              data-bs-toggle="modal" data-bs-target="#studentMarksModal">Marks
      </button>
      <a sec:authorize="hasAuthority('TOPICS_CREATE')" class="col-md-3 mt-4 unsent-width btn btn-success ms-auto"
         style="margin-right: 20px;" th:href="@{/ui/v1/topics/new(cid=${courseId})}">Add topic</a>
    </div>
  </div>
  <div th:if="${course.topics.size()} > 0">
    <h4 style="margin-top: unset; text-align: center !important;">Topics</h4>
    <table class="table table-striped table-hover table-responsive-xl">
      <thead class="table-light">
      <tr>
        <th sec:authorize="hasAnyAuthority('TOPICS_READ') && !hasAuthority('TOPICS_CREATE')" scope="col">№</th>
        <th sec:authorize="hasAuthority('TOPICS_CREATE')" scope="col">Order</th>
        <th scope="col">Topic name</th>
        <th scope="col">Details</th>
        <th sec:authorize="hasAnyAuthority('TOPICS_UPDATE', 'TOPICS_DELETE')" scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="topic, interStat : ${topics}">
        <th sec:authorize="hasAnyAuthority('TOPICS_READ') && !hasAuthority('TOPICS_CREATE')" scope="row"
            th:text="${interStat.count}"></th>
        <td sec:authorize="hasAuthority('TOPICS_CREATE')" th:text="*{topic.topicOrder}"></td>
        <td th:text="*{topic.topicName}"></td>
        <td th:text="*{topic.topicDescription}" style="text-align: left"></td>
        <td>
          <a sec:authorize="hasAuthority('TOPICS_UPDATE')" th:href="@{/ui/v1/topics/{topicId}/edit(topicId=${topic.id})}"
             class="fa-regular fa-pen-to-square icon-dark" title="Edit this topic"></a>
          <form sec:authorize="hasAuthority('TOPICS_DELETE')" th:method="delete"
                th:action="@{/ui/v1/topics/{topicId}/delete(topicId=${topic.id}, cid=${course.id})}"
                onclick="event.preventDefault(); this.submit();" style="margin-left: 10px; cursor: pointer;"
                class="fa-regular fa-trash-can icon-dark btn-delete" title="Delete this topic">
            <input type="submit" style="display: none;">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="message info-m" th:unless="${topics.size()} > 0">
    <span th:text="#{topic.list.empty}"></span>
  </div>
  <div class="my-2">
    <div class="row d-flex">
      <a sec:authorize="hasAuthority('COURSES_UPDATE')" class="col-md-3 unsent-width btn btn-secondary"
         th:href="@{/ui/v1/courses/my/{courseId}/edit(courseId=${course.id})}"
         style="margin-right: 15px; margin-left: 12px">Edit course</a>
      <form sec:authorize="hasAuthority('COURSES_DELETE')" th:method="delete"
            th:action="@{/ui/v1/courses/my/{courseId}/delete(courseId=${course.id})}"
            onclick="event.preventDefault(); this.submit();" class="col-md-3 unsent-width btn btn-danger">
        <input type="submit" style="display: none;">
        <span>Delete course</span>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="studentMarksModal" tabindex="-1" aria-labelledby="studentMarksModalLabel"
     aria-hidden="true">
  <div class="modal-dialog marks-modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content marks-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="marksModalLabel" th:text="${course.courseName} + ': ' + marks"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script th:inline="javascript">
  const requiredRole = "STUDENT";
  let role = /*[[${#authentication.principal.roleName}]]*/ "";
  const studentId = /*[[${#authentication.principal.id}]]*/ 0;
  const courseTopics =  /*[[${course.topics}]]*/ null;

  if (role.toString() === requiredRole) {
    $(document).ready(function () {
      $('.btn-light-cus[data-bs-target="#studentMarksModal"]').click(function () {
        const studentMarks = courseTopics.flatMap(topic =>
          topic.marks.filter(mark => mark.studentId === studentId)
            .sort((a, b) => a.id - b.id)
        );

        if (studentMarks.length === 0) {
          $('#studentMarksModal .modal-body').html('<p>No topic rated</p>');
          return;
        }

        const table = document.createElement('table');
        table.classList.add('table', 'table-striped', 'table-hover', 'table-responsive-xl');

        const tableHead = document.createElement('thead');
        tableHead.classList.add('table-light');
        const tableHeadRow = document.createElement('tr');

        const headerCells = ['№', 'Topic name', 'Mark', 'Comment'];
        headerCells.forEach(cellText => {
          const headerCell = document.createElement('th');
          headerCell.scope = 'col';
          headerCell.textContent = cellText;
          tableHeadRow.appendChild(headerCell);
        });
        tableHead.appendChild(tableHeadRow);
        table.appendChild(tableHead);

        const tableBody = document.createElement('tbody');
        studentMarks.forEach((mark, index) => {
          const tableRow = document.createElement('tr');

          const tableData = [index + 1, mark.topicName, mark.markValue, mark.comment ? mark.comment : '-'];
          tableData.forEach(cellData => {
            const tableCell = document.createElement('td');
            tableCell.textContent = cellData;
            tableRow.appendChild(tableCell);
          });
          tableBody.appendChild(tableRow);

        });
        table.appendChild(tableBody);

        $('#studentMarksModal .modal-body').html('').append(table);
        $('#studentMarksModal .modal-body').append(table);
      });
    });
  }
</script>
</body>
</html>
