<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout Confirmation</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="confirm-body">
<div class="confirm-dialog">
  <p>Are you sure you want to logout?</p>
  <div class="dialog-buttons">
    <a class="cancel" href="#" onclick="goBack()">Cancel</a>
    <form th:action="@{/logout}" method="post">
      <button class="confirm" type="submit">Confirm</button>
    </form>
  </div>
</div>
</body>
<script>
    if (document.referrer) {
        localStorage.setItem('previousPage', document.referrer);
    }

    function goBack() {
        const previousPage = localStorage.getItem('previousPage');
        if (previousPage) {
            window.location.href = previousPage;
        } else {
            window.location.href = '/ui/v1/home';
        }
    }
</script>
</html>
