<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Password Update Form</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
  <h2 class="title-center">Update password</h2>
  <form id="passwordUpdateForm" th:method="patch" th:action="@{/ui/v1/users/update-pass}"
        th:object="${passwordUpdateRequest}">
    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
      <ul style="margin-bottom: 0">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
    </div>
    <div class="form-group form-group-margin">
      <label for="currentPassword">Enter current password</label>
      <div style="display: flex; align-items: center; position: relative; width: 100%;">
        <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}"
               style="flex: 1; padding-right: 35px;" required>
        <span onclick="togglePassword('currentPassword', this)" class="fa fa-eye"
              style="position: absolute; right: 15px; cursor: pointer;"></span>
      </div>
      <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
           class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label for="newPassword">Enter new password</label>
      <div style="display: flex; align-items: center; position: relative; width: 100%;">
        <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}"
               style="flex: 1; padding-right: 35px;" required>
        <span onclick="togglePassword('newPassword', this)" class="fa fa-eye"
              style="position: absolute; right: 15px; cursor: pointer;"></span>
      </div>
      <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label for="confirmNewPassword">Confirm new password</label>
      <div style="display: flex; align-items: center; position: relative; width: 100%;">
        <input type="password" class="form-control" id="confirmNewPassword" th:field="*{confirmNewPassword}"
               style="flex: 1; padding-right: 35px;" required>
        <span onclick="togglePassword('confirmNewPassword', this)" class="fa fa-eye"
              style="position: absolute; right: 15px; cursor: pointer;"></span>
      </div>
      <div th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"
           class="invalid-validation"></div>
    </div>
    <input id="userId" type="hidden" class="form-control" th:field="*{userId}">
    <input id="roleName" type="hidden" class="form-control" th:field="*{roleName}">
    <button sec:authorize="hasAuthority('STUDENTS_UPDATE')" type="submit" id="addButton"
            class="btn btn-success form-group-margin">Update
    </button>
    <a id="cancelButton" href="#" class="btn btn-secondary form-group-margin" style="margin-left: 20px">Cancel</a>
  </form>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script type="text/javascript">
  function togglePassword(inputId, iconElement) {
    const passwordInput = document.getElementById(inputId);

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      iconElement.classList.remove('fa-eye');
      iconElement.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      iconElement.classList.remove('fa-eye-slash');
      iconElement.classList.add('fa-eye');
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("passwordUpdateForm");
    const cancelButton = document.getElementById("cancelButton");
    const userId = document.getElementById("userId").value;
    const roleName = document.getElementById("roleName").value;

    if (roleName === 'STUDENT') {
      form.action = "/ui/v1/students/update-pass";
      cancelButton.href = `/ui/v1/students/${userId}`;
    } else if (roleName === 'TEACHER') {
      form.action = "/ui/v1/teachers/update-pass";
      cancelButton.href = `/ui/v1/teachers/${userId}`;
    }
  });
</script>
</body>
</html>
