<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Schedule New Lesson - University CMS</title>
  <link rel="icon" type="image/svg+xml" th:href="@{/images/tab-logo.svg}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
  <div th:if="${#authentication.principal.roleName.name == 'MANAGER'}" class="row d-flex">
    <a class="fa fa-arrow-left col mt-3" th:href="@{/ui/v1/lessons(userId=${userId}, userRole=${userRole}, scheduleId=${lesson.scheduleId},
    userCurrentLocalDate=${userCurrentDate}, startDate=${startDate}, endDate=${endDate}, userFullName=${userFullName})}"
       aria-hidden="true" th:title="'Back to ' + ${userFullName} + ' schedule'"
       style="width: 100%; max-width: max-content; padding-left: 0; padding-right: 0; padding-top: 0.8rem; cursor: pointer; text-decoration: none; color: #0A0921"></a>
    <h2 class="title-center col mt-3" th:text="'Schedule a new lesson for ' + ${userFullName}">Schedule a new
      lesson</h2>
  </div>
  <div th:unless="${#authentication.principal.roleName.name == 'MANAGER'}" class="row d-flex">
    <a class="fa fa-arrow-left col mt-3"
       th:href="@{/ui/v1/lessons(scheduleId=${lesson.scheduleId}, userCurrentLocalDate=${userCurrentDate}, startDate=${startDate}, endDate=${endDate})}"
       aria-hidden="true" title="Return to the lesson schedule"
       style="width: 100%; max-width: max-content; padding-left: 0; padding-right: 0; padding-top: 0.8rem; cursor: pointer; text-decoration: none; color: #0A0921"></a>
    <h2 class="title-center col mt-3">Schedule a new lesson</h2>
  </div>
  <form th:action="@{/ui/v1/lessons/create(userId=${userId}, userRole=${userRole}, userCurrentLocalDate=${userCurrentDate}, startDate=${startDate}, endDate=${endDate},
  userFullName=${userFullName})}" th:method="post" th:object="${lesson}">
    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
      <ul style="margin-bottom: 0">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="courseSelect" style="font-weight: bold">Choose a course for the
        lesson</label>
      <select id="courseSelect" class="form-control" th:field="*{courseId}">
        <option th:each="course : ${userCourses.entrySet()}"
                th:value="${course.value}"
                th:text="${course.key}"
                th:selected="${course.key} == ${lesson.courseName}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="zoneOffset" style="font-weight: bold">Choose the zone offset</label>
      <select id="zoneOffset" class="form-control" th:field="*{zoneOffset}">
        <option th:each="timeZone : ${timeZones}"
                th:value="${timeZone}"
                th:text="${timeZone}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('zoneOffset')}" th:errors="*{zoneOffset}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="date" style="font-weight: bold">Select the date of the
        lesson</label>
      <input type="date" class="form-control" id="date" th:name="date" th:field="*{date}">
      <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="lessonStartTime" style="font-weight: bold">Choose the start time of
        the lesson</label>
      <input type="time" class="form-control" id="lessonStartTime" th:field="*{lessonStartTime}">
      <div th:if="${#fields.hasErrors('lessonStartTime')}" th:errors="*{lessonStartTime}"
           class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="lessonEndTime" style="font-weight: bold">Choose the end time of the
        lesson</label>
      <input type="time" class="form-control" id="lessonEndTime" th:field="*{lessonEndTime}">
      <div th:if="${#fields.hasErrors('lessonEndTime')}" th:errors="*{lessonEndTime}" class="invalid-validation"></div>
    </div>
    <input type="hidden" th:field="*{scheduleId}">
    <button sec:authorize="hasAuthority('LESSONS_CREATE')" type="submit" id="addButton"
            class="btn btn-success form-group-margin">Add
    </button>
    <a th:if="${#authentication.principal.roleName.name == 'MANAGER'}" th:href="@{../../../ui/v1/lessons(userId=${userId}, userRole=${userRole}, scheduleId=${lesson.scheduleId},
    userCurrentLocalDate=${userCurrentDate}, startDate=${startDate}, endDate=${endDate}, userFullName=${userFullName})}"
       class="btn btn-secondary form-group-margin" style="margin-left: 20px">Cancel</a>
    <a th:unless="${#authentication.principal.roleName.name == 'MANAGER'}" th:href="@{../../../ui/v1/lessons(scheduleId=${lesson.scheduleId}, userCurrentLocalDate=${userCurrentDate},
    startDate=${startDate}, endDate=${endDate})}" class="btn btn-secondary form-group-margin" style="margin-left: 20px">Cancel</a>
  </form>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script th:inline="javascript">
  const userCourses = /*[[${userCourses}]]*/ {};

  $(document).ready(function () {
    const courseNames = Object.keys(userCourses);
    const selectElement = document.getElementById('courseSelect');
    const addButton = document.getElementById('addButton');

    if (courseNames.length === 0) {
      selectElement.disabled = true;
      addButton.disabled = true;
    }
  });
</script>
</body>
</html>
