<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Schedule</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
  <h2 class="title-center">Update existing lesson information</h2>
  <form th:action="@{/ui/v1/lessons/update(date=${date}, scheduleId=${scheduleId})}" th:method="put"
        th:object="${lesson}">
    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
      <ul style="margin-bottom: 0">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="lessonStartTime">Lesson start time</label>
      <input type="time" class="form-control" id="lessonStartTime" th:field="*{lessonStartTime}">
      <div th:if="${#fields.hasErrors('lessonStartTime')}" th:errors="*{lessonStartTime}"
           class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="lessonEndTime">Lesson end time</label>
      <input type="time" class="form-control" id="lessonEndTime" th:field="*{lessonEndTime}">
      <div th:if="${#fields.hasErrors('lessonEndTime')}" th:errors="*{lessonEndTime}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="zoneSelect">Time zone</label>
      <select id="zoneSelect" class="form-control" th:field="*{timezone}">
        <option th:each="zoneId : ${availableZoneIds}"
                th:value="${zoneId}"
                th:text="${zoneId}"
                th:selected="${zoneId} == ${lesson.timezone}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('timezone')}" th:errors="*{timezone}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="courseSelect">Course for the lesson</label>
      <select id="courseSelect" class="form-control" th:field="*{course.id}">
        <option th:each="course : ${userCourses.entrySet()}"
                th:value="${course.value}"
                th:text="${course.key}"
                th:selected="${course.key} == ${lesson.course.courseName}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('course')}" th:errors="*{course}" class="invalid-validation"></div>
    </div>
    <input type="hidden" class="form-control" th:field="*{id}">
    <input type="hidden" th:field="*{studyDayId}">
    <button sec:authorize="hasAuthority('LESSONS_UPDATE')" type="submit" id="updateButton"
            class="btn btn-success form-group-margin">Update
    </button>
    <a th:href="@{../../../../ui/v1/study-days/{date}(date=${date}, scheduleId=${scheduleId})}"
       class="btn btn-secondary form-group-margin"
       style="margin-left: 20px">Cancel</a>
  </form>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script th:inline="javascript">
  const userCourses = /*[[${userCourses}]]*/ {};

  $(document).ready(function () {
    const courseNames = Object.keys(userCourses);
    const selectElement = document.getElementById('courseSelect');
    const updateButton = document.getElementById('updateButton');

    if (courseNames.length === 0) {
      selectElement.disabled = true;
      updateButton.disabled = true;
    }
  });
</script>
</body>
</html>
