<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Something went wrong - University CMS</title>
  <link rel="icon" type="image/svg+xml" th:href="@{/images/tab-logo.svg}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
  </style>
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="message error-m">
    <span
      th:text="${exception.httpStatus.value() + ' ' + exception.httpStatus.getReasonPhrase() + '. ' + exception.message}"></span>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
