<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Courses</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
  <h2 class="title-center">Add new top to course</h2>
  <form th:method="post" th:action="@{/ui/v1/topics/create}" th:object="${topic}">
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="topicName">Enter topic name</label>
      <input type="text" class="form-control" id="topicName" th:field="*{topicName}">
      <div th:if="${#fields.hasErrors('topicName')}" th:errors="*{topicName}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="topicDescription">Describe the topic</label>
      <textarea class="form-control" id="topicDescription" th:field="*{topicDescription}" rows="5"></textarea>
      <div th:if="${#fields.hasErrors('topicDescription')}" th:errors="*{topicDescription}" class="invalid-validation"></div>
    </div>
    <div class="form-group form-group-margin">
      <label class="form-control-label-margin" for="topicOrder">Enter topic order</label>
      <input type="number" class="form-control" id="topicOrder" th:field="*{topicOrder}">
      <div th:if="${#fields.hasErrors('topicOrder')}" th:errors="*{topicOrder}" class="invalid-validation"></div>
    </div>
    <input type="hidden" class="form-control" th:field="*{courseId}">
    <button sec:authorize="hasAuthority('TOPICS_CREATE')" type="submit" class="btn btn-success form-group-margin" th:text="Add"></button>
    <a class="btn btn-secondary form-group-margin" style="margin-left: 20px" th:href="@{../../../../../../ui/v1/courses/my/{courseId}(courseId=${topic.courseId})}" th:text="Cancle"></a>
  </form>
</div>
<div th:insert="~{fragments/error-modal :: errorModal(${validationErrorMessage})}"></div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    const message = /*[[${validationErrorMessage}]]*/ null;

    if (message !== null ) {
      const modal = $('#errorModal');
      modal.modal('show');
    }
  });
</script>
</body>
</html>
